selector {
    propoerty: value;
}
body {
      background-color: #ADDFFF;
      color: #000080; 
      font-family: Courier;
}
h1 {
      color: white;
      font-family: Comic Sans MS;
      font-size: 80px;
      background-color: #000080; height: 120px; width: 1000px;
      margin-left: auto;
      margin-right: auto;
      border: 5px solid white;
      text-align: center;
}
h2 {
    color: #000080;
    font-family: Comic Sans MS;
    font-size: 70px;
    background-color: white; height: 100px; width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000080;
    text-align: center;
}
     
      
